<ion-tabs style="position:fixed;top:0;">
  <ion-tab [root]="tab1Root" tabBadge="{{badge1}}" tabTitle="General"></ion-tab>
  <ion-tab [root]="tab2Root" tabBadge="{{badge2}}" tabTitle="Chats"></ion-tab>
  <ion-tab [root]="tab3Root" tabBadge="{{badge3}}" tabTitle="Grupos"></ion-tab>
</ion-tabs>
