<ion-content>

<ion-list>
  <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
    <ion-avatar item-start>
      <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
    </ion-avatar>
    <h2>Name</h2>
    <p>Parte del chat</p>
    <ion-note item-end style="font-size: 12px;">4:23</ion-note>
  </ion-item>
</ion-list>

</ion-content>
