chat-view {

  $color-self: #e1ffc7;
  $color-message: #FFF;

  .background{
    background: #f0e7de;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    .foreground{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background-image: url('../assets/img/bg.png');
      background-position: center;
      background-size: cover;
      opacity: 0.1;
    }
  }

  .chat-container{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
  }

  .chat-line{
    position: relative;
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background: blue;

    .message{
      position: relative;
      left:0;
      top:0;
      background: $color-message;
      padding: 7px;
      margin: 10px;
      border-radius: 5px;
      max-width: 60%;
    }

    .self{
      right:0;
      left:auto;
      background: $color-self;
    }

  }


  //chat input text
  .chat-input-container{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    padding: 7px;
    max-height: 100px;
    display: flex;

    .chat-input{
      position: relative;
      width: 80%;
      border-radius: 7px 7px 7px 7px;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.05), 0 1px 1px 0 rgba(0,0,0,.1), 0 2px 1px -1px rgba(0,0,0,.06);
      background-color: #FFF;
      margin-right: 5px;
      padding: 10px;
      overflow-y: scroll;
      flex: 1;
    }

    .btn-circle{
      position: relative;
      background: #008a7c;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.05), 0 1px 1px 0 rgba(0,0,0,.1), 0 2px 1px -1px rgba(0,0,0,.06);

      ion-icon{
        font-size: 22px;
        width: 100%;
      }
    }
  }


}
