<div class="background">
  <div class="foreground">
  </div>
</div>

<div class="chat-container">

  <div class="chat-line" *ngFor="let message of chat">
    <div class="message">
      <div>{{message.msg}}</div>
    </div>
  </div>

</div>

<div class="chat-input-container">
  <div #myInput class="chat-input" contenteditable="true" tabindex="1"></div>
  <button class="btn-circle" (click)="outputMessage()">
    <ion-icon name="md-send" color="light"></ion-icon>
  </button>
</div>
